<div class="user-info-contents">
    <img class="col-md-4 img-circle" src="{{vm.userInfo.profile_pic_url_hd}}">
    <div class="col-md-7 user-info-holder">
        <h3 class="private-user-text" ng-show="vm.userInfo.is_private">
            This user is private
        </h3>
        <h1>{{vm.userInfo.username}}</h1>
        <h2>
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {{vm.userInfo.full_name}}
        </h2>
        <h2>
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
            <b>{{vm.userInfo.count}}</b> posts
        </h2>

        <div class="btn-group" role="group" aria-label="Choose next action">
            <button type="button" class="btn btn-secondary go-btn" ng-click="vm.back()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Search
            </button>
            <button type="button" class="btn btn-secondary go-btn" ng-click="vm.createZip()"
                    ng-show="!vm.userInfo.is_private">
                Download <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
