<div class="col-md-8 offset-md-2 content-holder">
    <h1>Welcome to Inpacker</h1>
    <form ng-submit="vm.search()">
        <div class="input-group col-md-10 offset-md-1">
            <button class="col-md-1 input-group-addon search-button" type="button" id="basic-addon2"
                    ng-click="vm.search()">
                <i class="fa fa-search" aria-hidden="true" title="Search {{vm.searchInput}}"></i>
            </button>
            <input class="col-md-11" type="text" placeholder="Search Instagram User"
                   aria-describedby="basic-addon2"
                   maxlength="30" ng-model="vm.searchInput" autofocus>
        </div>
        <div class="col-md-8 offset-md-2 alert alert-danger user-not-found-alert" role="alert"
             ng-show="vm.showNotFound()">
            <strong>User not found!</strong> {{vm.userNotFoundMessage}}
            <span style="float: right;" ng-click="vm.closeUserNotFoundMessage()">
            <i class="fa fa-close" aria-hidden="true" title="Close"></i>
        </span>
        </div>
    </form>
</div>