.content {
    margin-top: 10px;
}

.content h1 {
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    color: #717171;
}

.content h2 {
    font-size: 42px;
    text-align: center;
    color: #313131;
}
