body {
    background-color: #ccc;
    font-family: 'Cabin', sans-serif;
}

#in {
    color: rgba(255,255,255,0.75);
    font-weight: bold;
    font-size: 24px;
}

#packer {
    font-weight: bold;
    font-size: 24px;
    color: #24292e;
    background-color: rgba(255,255,255,0.75);
    border-radius: 7px;
    padding: 0px 3px 3px 2px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.download-pack-btn {
    background: #24292e;
    border-color: #24292e;
}

.dark-bg {
    background-color: #24292e;
}

.light-bg {
    background-color: #C5C2C9;
}

.lighter-bg {
    background-color: #EFEFEF;
}

.centered {
    text-align: center;
}

.middle-font {
    font-size: 24px;
}

.regular-font {
    font-size: 18px;
}

.large-font {
    font-size: 48px;
}

.small-font {
    font-size: 15px;
}

.tiny-font {
    font-size: 13px;
}

.dark-font {
    color: #353239;
}

.white-font {
    color: #fff;
}

.red-font {
    color: darkred;
}

.passive-font {
    color: #818181;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
}

.header a {
    color: #fff;
}

.header-links {
    text-align: right;
    padding: 12px 0px 16px 0px;
}

.header-links a {
    color: rgba(255,255,255,0.75);
}

.header-links a:hover {
    color: rgba(255,255,255,1);
}

.header-links li {
    display: inline;
    margin: 0 10px 0 10px;
}

.header-content {
    height: 50px;
}

.header-title {
    padding: 6px 0px 16px 0px;
}

.header-content a {
    text-decoration: none;
}

.content {
    margin-top: 30px;
}

.search-input-group {
    margin-top: 30px;
}

.primary-input {
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: 300;
    color: #888;
    outline: none;
    border: none;
    border-radius: 0 7px 7px 0;
}

.primary-input:disabled {
    background: #fff;
}

.search-input-group button {
    color: #888;
    background: white;
    font-size: 22px;
    padding-left: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 7px 0 0 7px;
    cursor: pointer;
}

.search-input-group button:focus {
    outline: none;
}

.not-found-alert {
     margin-top: 10px;
}

.not-found-alert span {
    float: right;
}

.primary-content-block {
    margin: 30px 0 30px 0;
    border: 1px solid #919191;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    /*border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;*/
}

.primary-content-block p {
    margin: 4px;
}

.verified-stack {
    font-size: 14px;
}

.verified-stack .fa-certificate {
    color: #4D9AD8;
}

.verified-stack .fa-check {
    color: #fff;
}

.collecting-block {
    margin-top: 30px;
    padding: 20px;
}

.collecting-block p {
    margin: 4px;
}

.not-found-content {
    margin-top: 10px;
}

.not-found-content h1 {
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    color: #717171;
}

.not-found-content h2 {
    font-size: 42px;
    text-align: center;
    color: #313131;
}

.inpacker-icon-component {
    font-size: 48px;
    color: #818181;
}

.about-content {
    margin-top: 30px;
}

.about-content p {
    margin: 3px;
}
