<div class="container">
    <div class="col-md-8 mr-auto ml-auto content">
        <instagram-icon ng-hide="vm.waitingResp"></instagram-icon>
        <loading-icon ng-show="vm.waitingResp"></loading-icon>
        <form ng-submit="vm.go()">
            <div class="input-group col-md-10 ml-auto mr-auto search-input-group">
                <button class="input-group-addon search-button" type="button" id="basic-addon2"
                        ng-click="vm.go()">
                    <i class="fa fa-search" aria-hidden="true" title="Search {{ vm.input }}"></i>
                </button>
                <input class="col-md-11 primary-input" type="text"
                          placeholder="Instagram username" aria-describedby="basic-addon2"
                          maxlength="30" ng-model="vm.input" autofocus ng-disabled="vm.waitingResp">
            </div>
            <div class="col-md-8 mr-auto ml-auto alert alert-danger not-found-alert" role="alert"
                    ng-show="vm.notFoundAlertMessage !== ''">
                <strong ng-bind="vm.notFoundAlertMessage"></strong>
                <span ng-click="vm.closeNotFoundAlert()">
                    <i class="fa fa-close" aria-hidden="true" title="Close"></i>
                </span>
            </div>
        </form>
    </div>
</div>
