<div class="container">
    <div class="col-md-8 ml-auto mr-auto content" ng-if="vm.pack">
        <creating-pack-icon ng-if="!vm.pack.is_done"></creating-pack-icon>
        <ready-pack-icon ng-if="vm.pack.is_done"></ready-pack-icon>
        <div>
            <div class="col-md-10 ml-auto mr-auto middle-font centered collecting-block">
                <p ng-hide="vm.pack.is_done">
                    Creating pack
                </p>
                <p ng-hide="vm.pack.is_done || vm.pack.items_count!==-1" class="centered middle-font">
                    <b>{{ vm.pack.packed_count }}</b> items done
                </p>
                <div ng-hide="vm.pack.is_done || vm.pack.items_count===-1" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar" aria-valuenow="{{ vm.pack.packed_count }}"
                         aria-valuemin="0" aria-valuemax="{{ vm.pack.items_count }}"
                         ng-style="{'width': vm.pack.packed_count/vm.pack.items_count*100 + '%'}"></div>
                </div>
                <a class="btn btn-primary btn-lg download-btn" ng-show="vm.pack.is_done"
                   href="{{ '/packs/' + vm.pack.id + '.zip' }}" type="application/zip" target="_blank" download>
                    <i class="fa fa-download" aria-hidden="true"></i> Download {{ vm.pack.id }}.zip
                </a>
            </div>
        </div>
    </div>
</div>
