<style>
    .about-content {
        margin-top: 30px;
    }

    .about-content p {
        margin: 3px;
    }

</style>
<div class="container">
    <div class="col-md-8 ml-auto mr-auto about-content">
        <p class="regular-font">
            Inpacker is an app for downloading images and videos from Instagram.
        </p>
        <p class="regular-font">
            Source code is available on <a href="https://github.com/dreyman/inpacker" target="_blank">github</a>.
        </p>
    </div>
</div>
