<div class="container">
    <div class="col-md-8 ml-auto mr-auto content">
        <about-icon></about-icon>
        <div class="about-content">
            <p class="regular-font">
                Inpacker is an app for downloading images and videos from instagram.com and 500px.com.
            </p>
            <p class="regular-font">
                Source code is available on <a href="https://github.com/dreyman/inpacker" target="_blank">github</a>.
            </p>
        </div>
    </div>
</div>
